{% extends 'index.html' %}

{% block page_content %}
<div class="bounds">
    {% block page_header %}
        {{ block.super }}
    {% endblock page_header %}
    <div class="grid-100">   
        <ul class="minerals__container">
        {% for mineral in minerals %}
            <li class="minerals__items">
                <a href="{% url 'minerals:class' mineral.name|title %}" class="minerals__anchor">
                    <p>{{ mineral.name|title }}</p>
                </a>
            </li>
        {% endfor %}  
        </ul>
    </div>
</div>
{% endblock %}
